@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.hd {
    grid-area: hd;
    /* background-image: url(../images/yellow-polka.jpg);
    background-size: contain; */
}

.logo {
    position: absolute;
    height: 100px;
    width: 100px;
    background-size: contain;
    border-radius: 20px;
}

.headerTitle {
    font-size: 2.4em;
    position: absolute;
    color: #666;
    border-radius: 30px;
    background-color: #fff16f;
}

.navbar {
    font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    text-decoration: none;
    background-color: rgb(255, 241, 111);
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: rgb(228, 194, 42);
}

.active {
    background-color: rgb(247, 210, 47);
}

@media(max-width: 500px) {
    .hd {
        background-color: rgb(255, 224, 87);
        height: 140px;
    }

    .logo {
        margin: 20px 50px;
    }

    .headerTitle {
        color: #666;
        font-size: 1.8em;
        font-weight: bolder;
        padding: 10px 0 10px 10px;
        margin-left: 25vw;
        width: 160px;
        margin-top: 15px;
        transform: translateX(50%);
        background-color: rgb(255, 224, 87);
    }

    li a {
        padding: 14px 16px;
        text-align: center;
        float: none;
    }
    
    .navbar {
        margin-top: 140px;
        display: flex;
        flex-direction: column;
    }
}  

@media(min-width: 501px) {
    .hd {
        height: 120px;
    }

    .logo {
        top: 11px;
        left: 90px;
    }

    .headerTitle {
        padding: 20px 0;
        margin-top: 20px;
        margin-left: 50vw;
        width: 450px;    
        transform: translateX(-50%);
        height: 40px; 
        text-align: center;  
    }

    li a {
        margin: 32px 10px;
        padding: 15px 15px;
        float: right;    
        border-radius: 50px;
    }
    
}