@import "nav.css";
@import "footer.css";

ins {
    color: #59c;
}

body {
    margin: 0;
    font-family: 'Indie Flower', cursive;
    background-image: url(../images/yellow-polka.jpg);
}

.container {
    position: relative;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 100px 1fr 50px;
    grid-template-areas:
    "hd"
    "main"
    "ft";
    margin: 0;
}

.content {
    position: relative;
    transform: translateY(100px);
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.blog-list {
    margin-top: 30px;
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.blog {
    border: 2px solid rgb(84, 149, 175);
    box-shadow: 5px 5px 10px #BBB;
    border-radius: 50px;
    width: 300px;
    height: 200px;
    padding: 20px;
    margin: 25px;
}

.blog:hover {
    box-shadow: 10px 10px 20px  #BBB;
}

.blog a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #666;
}

.blog p {
    padding-top: 30px;
    text-align: center;
}

@media(max-width: 500px) {
    body {
        background-size: 20%;
    }

    .blog-list {
        flex-direction: column;
    }

    .blog {
        width: 50vw;
        height: 150px;
    }

    .container {
        grid-template-rows: 150px 10fr 1fr;
    }
}

@media(min-width: 1100px) {
    body {
        background-size: 7%;
    }
}



